.highcharts-color-0 {
  fill: var(--bs-primary);
  stroke: var(--bs-primary);
}

.highcharts-background {
  fill: var(--bs-secondary-bg);
}

.highcharts-container {
  text {
    fill: var(--bs-body-color);
  }

  .highcharts-legend-item-hidden text {
    fill: var(--bs-secondary) !important;
  }
}

.highcharts-tooltip-box {
  fill: var(--bs-tertiary-bg);
}

.highcharts-column-series rect.highcharts-point {
  stroke: var(--background-color);
}

.highcharts-button {
  fill: var(--bs-form-control-bg);

  text {
    fill: var(--bs-body-color);
  }
}

.highcharts-button-hover {
  fill: var(--bs-secondary-bg);

  text {
    fill: var(--bs-body-color);
  }
}

.highcharts-button-pressed {
  fill: var(--bs-form-control-bg);
  stroke: #cccccc;

  text {
    fill: var(--bs-body-color);
  }
}

.highcharts-button-disabled text {
  fill: var(--bs-form-control-disabled-bg);
}

.highcharts-range-input {
  stroke: var(--bs-border-color);
}

.highcharts-scrollbar-thumb {
  fill: var(--bs-tertiary-bg);
  stroke: var(--bs-border-color);
}

.highcharts-scrollbar-button {
  fill: none;
  stroke: var(--bs-border-color);
}

.highcharts-scrollbar-arrow {
  fill: var(--bs-body-color);
}

.highcharts-scrollbar-rifles {
  stroke: var(--bs-body-color);
}

.highcharts-scrollbar-track {
  fill: var(--bs-form-control-bg);
  stroke: var(--bs-border-color);
}
